@font-face {
  font-family: "StarJedi";
  src: local('StarJedi'), url(./fonts/Starjedi.ttf) format('truetype');
}

:root {
  --width-card-wide: 100%;
}

body {
  margin: 0;
  font-family: StarJedi, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  background-color: #000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #000;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffe81f;
  letter-spacing: 5px;
  font-size: 48px;
}
